.row {
    border: 2px solid black;
}
.jumbotron {
    text-align: center;
}
.col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#brewery-area {
    display: none;
    display: flex;
    flex-flow: row wrap;
}